
.parent{
    display: flex;
    height:100vh;
    margin: 0 auto;
}
.Agency {
    margin-top: 3%;
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 65px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.Client {
    margin-top: 5%;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.radiobtn{
    background-color: rgba(255, 255, 255, 0.127);
    backdrop-filter: blur(30px) brightness(115%);
    color:rgba(255, 255, 255, 0.247);
    font-size: 1.5em;  
    height: 150px;
    align-items: center;
    width: 350px;
    margin-right: 2.5%;
    vertical-align: middle;
    margin-left:2.5%;
    margin-top: 5%;
    border-radius: 15px;

}
.radiobtn:hover{
    border-color: white;
    color:white;
 }

 .left-child{
    flex: 0.3;
    position: relative;
    
    
}

.left-child img{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}

.right-child{
    flex: 0.3;
    position: relative;
}

.right-child img{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}
.child{
    flex: 2;
    height:100%;
    position: relative;
}
.Text{
    font-size: 3.5em; 
    margin-top: 18%;
    color:white; 
}




